<!DOCTYPE html>
<html ng-app="listaCEP">
<head>
	<meta charset="UTF-8">
	<title>Busca CEP</title>
	<script src="bootstrap/bootstrap.min.js"></script>
	<link rel="stylesheet" href="bootstrap/bootstrap.min.css">
	<script type="text/javascript" src="angular/angular.js"></script>
	<script type="text/javascript">
		var app  = angular.module("listaCEP", []);
		app.controller("listaCEPCtrl", function($scope, $http){
			// var cep = prompt("Informe um cep:");
			$scope.app = "Lista Telefonica";
			$scope.numberCEP = "";
			$scope.resultSearcCEP;
			$scope.functionConsultaCEP = function(){
				$http.get("https://viacep.com.br/ws/" + $scope.numberCEP +"/json/")
  				.then(function mySuccess(response) {
    				$scope.resultSearcCEP =  response.data;
			  }, function myError(response){
				  alert("CEP não encontrado!");
			  });
			}
			
		})
	</script>
	<style>
		.jumbotron{
			width: 400px;
			margin-left: auto;
			margin-right: auto;
			margin-top: 20px;
			text-align: center;
		}
		.container{
			width: 400px;
			margin-left: auto;
			margin-right: auto;
			margin-top: 20px;
		}
	</style>
</head>
<body ng-controller="listaCEPCtrl">
	<div class="container ">
		<h4 class="jumbotron">
			{{app}}
		</h4>
		<p>
			<label>CEP:</label>
			<input type="text" id="cep" placeholder="CEP" ng-model="numberCEP"> <button ng-click="functionConsultaCEP()">Consultar</button>
		</p>
		<table class="table table-hover">
			<tr>
				<th>Nome</th>
				<th>Telefone</th>
			</tr>
			<tr>
				<td>{{resultSearcCEP.cep}}</td>
				<td>{{resultSearcCEP.logradouro}}</td>
			</tr>
		</table>

	</div>
</body>
</html>