<!DOCTYPE html>
<html ng-app="CEP">
<head>
	<meta charset="UTF-8">
	<title>Busca CEP</title>
	<script src="bootstrap/bootstrap.min.js"></script>
	<link rel="stylesheet" href="bootstrap/bootstrap.min.css">
	<script type="text/javascript" src="angular/angular.js"></script>
	<script type="text/javascript"src="js/properties.js"></script>
	<link rel="stylesheet" href="css/properties.css">
</head>
<body ng-controller="buscaCEP">
	<div class="container ">
		<h4 class="jumbotron">
			{{app}}
		</h4>
		<p>
			<label>CEP:</label>
			<input type="text" id="cep" placeholder="CEP" ng-model="numberCEP"> <button ng-click="functionConsultaCEP()">Consultar</button>
		</p>
		<table class="table table-hover">
			<tr>
				<th>CEP</th>
				<th>Logradouro</th>
				<th>bairro</th>
				<th>Cidade</th>
				<th>Estado</th>
			</tr>
			<tr>
				<td>{{resultBuscaCEP.cep}}</td>
				<td>{{resultBuscaCEP.logradouro}}</td>
				<td>{{resultBuscaCEP.bairro}}</td>
				<td>{{resultBuscaCEP.localidade}}</td>
				<td>{{resultBuscaCEP.uf}}</td>
			</tr>
		</table>

	</div>
</body>
</html>